COMFY_API_URL=http://127.0.0.1:8188
COMFY_AUTO_START=false
COMFY_START_COMMAND=
COMFY_WORKDIR=
COMFY_STARTUP_TIMEOUT_MS=120000
COMFY_HEALTHCHECK_INTERVAL_MS=3000
COMFY_QUEUE_TIMEOUT_MS=120000
COMFY_EXECUTION_TIMEOUT_MS=1200000
COMFY_OUTPUT_IMPORT_TIMEOUT_MS=120000
COMFY_ARTIFACT_VALIDATION_TIMEOUT_MS=60000
COMFY_SMOKE_QUEUE_TIMEOUT_MS=60000
COMFY_SMOKE_EXECUTION_TIMEOUT_MS=300000
COMFY_SMOKE_OUTPUT_IMPORT_TIMEOUT_MS=60000
COMFY_SMOKE_ARTIFACT_VALIDATION_TIMEOUT_MS=30000
COMFY_MODEL_ROOT=
COMFY_UNET_DIR=
COMFY_CLIP_DIR=
COMFY_VAE_DIR=
CREATION_STATION_COMFY_TIMEOUT_MS=600000
CREATION_STATION_COMFY_POLL_INTERVAL_MS=2000

PROVIDER_RUNTIME_EXECUTION_MODE=disabled
PROVIDER_RUNTIME_ENABLE_COMFY=false
PROVIDER_RUNTIME_ENABLE_WAN=false
PROVIDER_RUNTIME_ENABLE_KLING=false
PROVIDER_RUNTIME_ENABLE_RUNWAY=false
WAN_API_KEY=
KLING_API_KEY=
RUNWAY_API_KEY=
PROVIDER_RUNTIME_MAX_CONCURRENT_JOBS=1
PROVIDER_RUNTIME_DEFAULT_TIMEOUT_MS=600000
